* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.bg {
  background: #EEF0F5;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.clock {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background: #fefeff;
  border: 20px solid #ebebed;
  box-shadow:
    10px 10px 20px #A5B1C3,  /* darker bottom-right shadow */
   -10px -10px 20px #e6e6ed; /* lighter top-left highlight */
  position: relative;
}

.clock:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 50%;
  background: transform;
  box-shadow:
    inset 10px 10px 20px #A5B1C3,   /* dark inner shadow */
    inset -10px -10px 20px #A5B1C3; /* light inner highlight */
}

.point {
  position: absolute;
  top: 120px;
  left: 120px;
  width: 20px;
  height: 20px;
  background: #646E82;
  border-radius: 50%;
}
.brand {
  position: absolute;
  top: 45px;
  left: 0;
  right: 0;
  color: #A6B4C8;
  font-size: 18px;
  text-align: center;
  text-transform: uppercase;
}
.num {
  position: absolute;
  font-size: 20px;
  font-weight: bold;
  color: #A6B4C8;
}
.num-1 {
  top: 20px;
  right: 70px;
}
.num-2 {
  top: 60px;
  right: 30px;
}
.num-3 {
  top: 120px;
  right: 8px;
}
.num-4 {
  top: 180px;
  right: 30px;
}
.num-5 {
  top: 220px;
  right: 70px;
}
.num-6 {
  bottom: 8px;
  left: 0;
  right: 0;
  text-align: center;
}
.num-7 {
  top: 220px;
  left: 70px;
}
.num-8 {
  top: 180px;
  left: 30px;
}
.num-9 {
  top: 120px;
  left: 8px;
}
.num-10 {
  top: 60px;
  left: 30px;
}
.num-11 {
  top: 20px;
  left: 70px;
}
.num-12 {
  top: 8px;
  left: 0;
  right: 0;
  text-align: center;
}

.hour-wrap {
  position: absolute;
  top: 60px;
  left: 60px;
  right: 60px;
  bottom: 60px;
  border-radius: 50%;
}
.hour-hand {
  position: relative;
}

.hour-hand .line {
  position: absolute;
  top: -10px;
  left: 68px;
  width: 4px;
  height: 110px;
  border-radius: 10px;
  background: #646E82;
}

.minute-wrap {
  position: absolute;
  top: 40px;
  left: 40px;
  right: 40px;
  bottom: 40px;
  border-radius: 50%;
}
.minute-hand {
  position: relative;
}

.minute-hand .line {
  position: absolute;
  top: -10px;
  left: 88px;
  width: 4px;
  height: 130px;
  border-radius: 10px;
  background: #646E82;
}

.second-wrap {
  position: absolute;
  top: 20px;
  left: 20px;
  right: 20px;
  bottom: 20px;
  border-radius: 50%;
  z-index: 99;
}
.second-hand {
  position: relative;
}

.second-hand .line {
  position: absolute;
  top: 5px;
  left: 109px;
  width: 2px;
  height: 150px;
  border-radius: 10px;
  background: #FD251E;
}

.second-hand .arrow {
  position: absolute;
  top: 125px;
  left: 107px;
  width: 6px;
  height: 30px;
  border-radius: 10px;
  background: #FD251E;
}

.second-hand .circle {
  position: absolute;
  top: 104px;
  left: 104px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #FD251E;
}